doctype html
html
  head
    title= `${title}`
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")

  body
    h1 #{title}

    form(action="/submit-cobj" method="POST")
      div
        label(for="name") Name:
        input(type="text" id="name" name="name" required)
      div
        label(for="vin") Vin:
        input(type="text" id="vin" name="vin" required)
      div
        label(for="year") Year:
        input(type="number" id="year" name="year" required)

      div
        label(for="make") Make:
        input(type="text" id="make" name="make" required)
      
      br

      button(type="submit") Create Record

      br
      br

      a(href="/") Return to the homepage
